@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
@{
//     if (@Model.DisplayConfirmAccountLink)//when don't need to confirm your mal
//     {
// <p>
//      <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
// </p>
//     }
//     else
//     {
<p>
        Please check your email to confirm your account.
</p>
    
}

