@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
    Layout = "_Layout";
}

@* <h1>@ViewData["Title"]</h1> *@
@{
 //this section delet becouse we add class in code files to use smtp 
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
}
}


